* {
    font-family: 'Rubik', 'Mulish', sans-serif;
}

body {
    background-color: rgb(129, 251, 255);
}

.formulario {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 100px auto 0;
    align-items: center;    
}  

.seleccion-problema {
    margin-bottom: 30px;
}

.boton-enviar {
    margin-top: 20px;
}



    

    
